@font-face { font-family: 'Open Sans Condensed'; font-style: italic; font-weight: 300; font-display: swap; src: local("Open Sans Condensed Light Italic"), local("OpenSansCondensed-LightItalic"), url(../fonts/opensans_300_italic.woff2) format("woff2"); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face { font-family: 'Open Sans Condensed'; font-style: italic; font-weight: 300; font-display: swap; src: local("Open Sans Condensed Light Italic"), local("OpenSansCondensed-LightItalic"), url(../fonts/opensans_300_italic_latin.woff2) format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face { font-family: 'Open Sans Condensed'; font-style: normal; font-weight: 300; font-display: swap; src: local("Open Sans Condensed Light"), local("OpenSansCondensed-Light"), url(../fonts/opensans_300_normal.woff2) format("woff2"); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face { font-family: 'Open Sans Condensed'; font-style: normal; font-weight: 300; font-display: swap; src: local("Open Sans Condensed Light"), local("OpenSansCondensed-Light"), url(../fonts/opensans_300_normal_latin.woff2) format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face { font-family: 'Open Sans Condensed'; font-style: normal; font-weight: 700; font-display: swap; src: url(../fonts/opensans_700_normal.woff2) format("woff2"); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face { font-family: 'Open Sans Condensed'; font-style: normal; font-weight: 700; font-display: swap; src: url(../fonts/opensans_700_normal_latin.woff2) format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 300; font-display: swap; src: url(../fonts/opensans2_700_normal.woff2) format("woff2"); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 300; font-display: swap; src: url(../fonts/opensans2_700_normal_latin.woff2) format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 700; font-display: swap; src: url(../fonts/opensans2_700_normal.woff2) format("woff2"); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 700; font-display: swap; src: url(../fonts/opensans2_700_normal_latin.woff2) format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face { font-family: 'Vinque'; font-style: normal; font-weight: normal; font-display: swap; src: local("Open Sans Condensed Bold"), local("OpenSansCondensed-Bold"), url(../fonts/VinqueRg-Regular.woff2) format("woff2"); }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

a { text-decoration: none; color: inherit; cursor: pointer; }

img { max-width: 100%; height: auto; }

.nobr { white-space: nowrap; }

.show-998 { display: none; }

body { background-image: url(../img/site_bg.jpg); background-size: cover; background-repeat: no-repeat; color: #fff; text-align: center; margin: 0; font-family: 'Open Sans Condensed', sans-serif; }

.header { margin-top: 5px; }

.header img { width: 17vw; }

.header h1 { background-color: rgba(1, 0, 70, 0.74); padding: 5px; font: normal 7vw "Vinque", sans-serif; text-align: center; margin: 5px 0 0; text-shadow: 0px 6.52174px 6.52174px rgba(70, 0, 0, 0.98), -1.5px -1.5px 0 rgba(1, 0, 70, 0.98), 1.5px -1.5px 0 rgba(1, 0, 70, 0.98), -1.5px 1.5px 0 rgba(1, 0, 70, 0.98), 1.5px 1.5px 0 rgba(1, 0, 70, 0.98); }

.header h1 .bigger { font-size: 13.8vw; }

.game__wrap { margin: 10px 12px 15px; font-weight: 700; }

.game__text { margin: 0 0 10px; font-size: 4.7vw; text-shadow: 0px 6.52174px 6.52174px rgba(70, 0, 0, 0.98), -1.5px -1.5px 0 rgba(1, 0, 70, 0.98), 1.5px -1.5px 0 rgba(1, 0, 70, 0.98), -1.5px 1.5px 0 rgba(1, 0, 70, 0.98), 1.5px 1.5px 0 rgba(1, 0, 70, 0.98); }

.game__placeholder { width: 30%; height: 206px; margin-bottom: 50px; -webkit-perspective: 1000px; perspective: 1000px; position: relative; }

.game__placeholder-text { position: absolute; left: 0; top: 0; right: 0; border: 3px solid rgba(255, 255, 255, 0.5); height: 100%; display: -ms-grid; display: grid; -ms-flex-line-pack: distribute; align-content: space-around; font-size: 17.5vw; color: rgba(255, 255, 255, 0.5); font-family: 'Open Sans Condensed', sans-serif; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: -webkit-transform .7s; transition: -webkit-transform .7s; transition: transform .7s; transition: transform .7s, -webkit-transform .7s; }

.game__placeholder-img { position: absolute; left: 0; top: 0; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); -webkit-transition: -webkit-transform .7s; transition: -webkit-transform .7s; transition: transform .7s; transition: transform .7s, -webkit-transform .7s; }

.game__placeholder-img-text { opacity: 0; font: 300 italic 14px "Open Sans", sans-serif; -webkit-transition: .5s opacity; transition: .5s opacity; width: 75px; margin: 5px auto; }

.game__placeholders { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.game__placeholder.active .game__placeholder-text { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.game__placeholder.active .game__placeholder-img { -webkit-transform: rotate(360deg); transform: rotate(360deg); }

.footer { text-align: right; padding: 0 12px 15px; }

.footer a { font-style: italic; font-weight: 300; font-size: 12px; }

.popUp_holder { display: -ms-grid; display: grid; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; opacity: 0; position: fixed; z-index: -10; background: rgba(1, 0, 70, 0.58); top: 0; height: 100vh; width: 100vw; overflow-y: scroll; -webkit-transition: .5s opacity; transition: .5s opacity; }

.wrap__popup { width: 94%; margin: auto; padding: 15px 10px; text-align: center; background: linear-gradient(160.72deg, #1E043E 12.93%, #1E043E 13.99%, rgba(79, 4, 98, 0.98) 45.3%, rgba(54, 0, 73, 0.98) 80.49%); -webkit-box-shadow: 0px 0px 22.6351px #FFFEDB; box-shadow: 0px 0px 22.6351px #FFFEDB; border-radius: 12.5751px; }

.wrap__popup h2 { font: 6.6vw/1 "Vinque", sans-serif; color: #FFFA31; margin: 0 0 10px; }

.wrap__popup p { font-size: 4.15vw; font-weight: 700; margin: 0; }

.wrap__popup a { color: #FFFA31; font: 700 12.5vw/1 'Open Sans', sans-serif; }

.wrap__popup-code { display: inline-block; background-color: #fff; color: #FF0000; font-size: 4.9vw; font-family: 'Open Sans', sans-serif; font-weight: 700; padding: 0 1px; border-radius: 4.45922px; vertical-align: middle; }

.wrap__popup .time { font-weight: 300; font-size: 3.7vw; font-family: 'Open Sans Condensed', sans-serif; text-shadow: -0.3px -0.3px 0 #fff,  
 0.3px -0.3px 0 #fff,
 -0.3px 0.3px 0 #fff,
 0.3px 0.3px 0 #fff; }

@media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) { .game__coloda img { -webkit-transition: all 0.5s; transition: all 0.5s; cursor: pointer; -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5); box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5); }
  .game__coloda img:hover { -webkit-box-shadow: 0px 0px 13.3777px #fff; box-shadow: 0px 0px 13.3777px #fff; z-index: 9 !important; } }

@media only screen and (min-width: 992px) { .show-998 { display: block; }
  body { background-image: url(../img/site_bg--desk.jpg); }
  .header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; margin-top: 15px; padding: 10px 10px 5px 10px; background-color: rgba(1, 0, 70, 0.74); }
  .header h1 { background-color: transparent; font-size: 5.6vw; }
  .header h1 .bigger { font-size: 10.8vw; }
  .header img { margin-top: -10px; margin-right: 25px; }
  .game__wrap { display: -ms-grid; display: grid; -ms-grid-columns: 52% 45%; grid-template-columns: 52% 45%; -ms-grid-rows: max-content min-content; grid-template-rows: -webkit-max-content -webkit-min-content; grid-template-rows: max-content min-content; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; grid-row-gap: 30px; row-gap: 30px; margin: 25px 27px 15px; }
  .game__text { font-size: 2.5vw; text-align: left; }
  .game__colodas { -ms-grid-row: 1; -ms-grid-row-span: 2; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-area: 1 / 2 / 3 / 3; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .game__coloda { position: relative; width: 32%; }
  .game__coloda .first { z-index: 0; position: relative; }
  .game__placeholder-text { font-size: 10vw; }
  .footer { padding: 0 30px 15px; }
  .footer a { font-size: 20px; }
  .wrap__popup { width: 75%; padding: 25px 38px; border-radius: 23.7988px; -webkit-box-shadow: 0px 0px 42.8378px #FFFEDB; box-shadow: 0px 0px 42.8378px #FFFEDB; }
  .wrap__popup h2 { font-size: 5.2vw; }
  .wrap__popup p { font-size: 3.35vw; line-height: 1.1; }
  .wrap__popup a { font-size: 9.8vw; }
  .wrap__popup .t-smaller { font-size: 3vw; line-height: 1.4; }
  .wrap__popup-code { border-radius: 14.2793px; padding: 0 5px; font-size: 4vw; margin: 5px 0; }
  .wrap__popup .time { font-size: 2.83vw; } }
