// colors
$color_main: #000;
$color_attention: #156694;
$color-white: #fff;
$color_hover: #ff55;
$color-alert: #2445A6;
$bg-main: #2445A6;
$bg-second: #B0D1E3;

// fonts
$main_size: 14px;
$second_size: 28px;
$font_main: 'Roboto', sans-serif;
$font_second: 'Alegreya', serif;

// transition
$transition_btn: all .5s ease-in-out;

// width
$logo-width: 70px;
$logo-width--desktop: 104px;